<!DOCTYPE html>
<html>
<head>
    <title>Confirmation:</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="frame">
<h2>Thank you for your submission!<br>Your request is estimated to be resolved in {{pred}} days.<h2>
<div class="box">
<div class="results">Your Request:<br>
Borough: {{borough}}<br>
Location: {{location_type}} <br>
Complaint: {{complaint_type}} <br>
Description (if applicable): {{descriptor}} <br>
Submitted by: {{open_data_channel_type}} <br><br>
Submission Date & Time:<p id="dt"></p>

<!--https://phoenixnap.com/kb/how-to-get-the-current-date-and-time-javascript-->
<script>

var today = new Date();

var date = (today.getMonth()+1)+'-'+today.getDate()+'-'+today.getFullYear();

var time = today.getHours() + ":" + today.getMinutes();

var dateTime = date+' '+time;

document.getElementById("dt").innerHTML = dateTime;
</script>
</div>
<div class="note">If this is an emergency, please call 911. </div>
</div></div>
<footer class="footer">Created by: Danielle Medellin, 2020<br>
<a href="https://git.generalassemb.ly/dmedellin/capstone">Source code</a></footer>
</body>
</html>
