@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');

body {background-image: url("./311_City.png");
background-color: powderblue;}

h2 {font-family: 'Roboto Slab', serif;
  text-align: center;}

h3 {font-family: 'Roboto', sans-serif;
font-size: 125%}
h4 {font-family: 'Roboto', sans-serif;
font-size: 110%}

.note {color:green;
  font-family: 'Roboto Slab', serif;
font-style: italic;}
